.bg-purple-light {
    background-color: lightgray;
}

.bg-purple-dark {
    background-color: white;
}

.bg-image {
    background-image: url(Assets/MainBg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.h-main {
    font-size: 100px;
}

p {
    text-align: justify;
}

.hText {
    width: 400px;
}

@media screen and (max-width: 400px) {
    .hText {
        /*background-color: lightblue;*/
        width: 90vw;
    }
}