/* TO DO:
    reduce the angle of testB and testS based on screen size
*/

.bg-purple-light {
    background-color: white;
    background-color: lightgray;
}

.bg-purple-dark {
    /*background-color: #6415d1;*/
    background-color: white;
}

.bg-third {
    background: linear-gradient(to bottom, white 50%, lightgray 50%);
}

.bg-image {
    background-image: url(Assets/MainBg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.h-main {
    font-size: 100px;
}